body {
    background-color: #efefef;
}

.inp {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px;
    border-bottom: 1px solid rgb(70, 70, 70);
    outline: none;
}

.inp:focus {
    background-color: rgb(231, 231, 231);
}

.SubBut {
    background-color: white;
    width: 150px;
    cursor: pointer;
}


.ImgLogin {
    display: flex;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.7)),
        url('/image/loginBack.jpg');
   
}

@media screen and (max-width: 1100px) {
    
    .loginform{
        width: 100% !important;
    }
    .login{
        flex-direction: column !important;
    }

    .ImgLogin{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
    }
  }